h1 {
	color:red;
}

li {
/*	color: green;
	border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 5px solid purple;
}

h4 {
	background: rgb(255,100,80);
}

body {
	background: pink;
/*	background: url(https://upload.wikimedia.org/wikipedia/en/3/3d/MountainAshFloor.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}